.search-content {
  .search-card {
    width: 100%;
    margin-top: 10px;
    padding: 24px 32px;

    border-radius: 8px;

    background-color: var(--gray-800);
    color: var(--gray-200);

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        color: var(--blue-100);
        font-size: 1.12rem;
        max-width: 50%;
      }

      div {
        display: flex;
        flex-direction: column;

        font-size: 0.87rem;
        font-weight: 300;

        span + span {
          margin-top: 2px;
        }
      }
    }

    .resume {
      p {
        margin-top: 13px;
        font-size: 1rem;
      }

      span {
        display: inline-block;
        margin-top: 25px;
        font-size: 0.87rem;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}
